{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>message_list</title>
</head>
<body>
    <h1>{% trans "Message list" %}</h1>
    <ul>
        {% for message in messages %}
        	<li>{{ message.content }} - {% if message.sent %}{% trans "Sent" %}{% else %}{% trans "Pending" %}{% endif %}</li>
        {% empty %}
            <li>{% trans "No messages yet" %}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_message' %}">{% trans "Create new message" %}</a>
</body>
</html>