<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{% url 'task_create' %}">Add task</a>
    {% if messages %}
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    {% endif %}
    <div>
        <a href="?completed=true">Completed tasks</a>
        <a href="?completed=false">In progress tasks</a>
        <a href="?">All tasks</a>
    </div>

    <br>

    <div>
        <p>Total: {{ total_tasks }}</p>
        <p>Done: {{ completed_tasks }}</p>
        <p>In progress: {{ is_progress_tasks }}</p>
    </div>

    <ul>
        {% for task in tasks %}
            <li>
                {{ task.title }} - {{ task.completed|yesno:'Done, In Progress' }}
                <a href="{% url 'task_delete' task.id %}">Delete</a>
            </li>
        {% empty %}
            <h1>No tasks</h1>
        {% endfor %}
    </ul>

</body>
</html>