<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>

    <tabel>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a href="{% url 'manage_permissions' user.id %}">Edit permissions</a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </tabel>

</body>
</html>